@page
@model WebAppInventarioS.Pages.Departamentos.IndexModel
@{
	ViewData["Title"] = "Departamentos";
}
<h1>Departamentos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Status</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var departamento in Model.departamentos)
        {
            <tr>
                <td>@departamento.NombreDepartamento</td>
                <td>@departamento.Status</td>
                <td>
                    <a asp-page="./Details" asp-route-id="@departamento.IdDepartamento">Detalles</a> |
                    <a asp-page="./Edit" asp-route-id="@departamento.IdDepartamento">Editar</a> |
                    <a asp-page="./Delete" asp-route-id="@departamento.IdDepartamento">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-page="./Create">Crear Nuevo Departamentos</a>
</p>
